<div class="post">
  <b class="title">{{ title }}</b>
  {{#if full}}
    {{ text }}
  {{ else }}
    {{limit-text text 300}}
    {{#link-to 'post' id}}<button class="btn btn-info">Full Post</button>{{/link-to}}
  {{/if}}
</div>
